[Desktop Entry]
Name[en_US]=Cadence Preload
Name=Cadence Preload
Exec=cadence --minimized
Icon=cadence
StartupNotify=false
Terminal=false
Type=Application
