[Desktop Entry]
Comment[en_US]=
Comment=
Exec=cadence --minimized
GenericName[en_US]=
GenericName=
Icon=cadence
MimeType=
Name[en_US]=Cadence Preload
Name=Cadence Preload
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
