#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Firefox Preload
Exec=/usr/bin/sh -c "sleep 6 && ksystraycmd5 --hidden /usr/lib/firefox/firefox %u about:blank"
Icon=firefox
Terminal=false
Type=Application
